@import 'vendor/_normalize';
@import 'vendor/_h5bp-base';
@import 'vendor/_h5bp-helper';
// more vendor, vendor overrides

// global variables
// global mixins
// typography (inc type variables and mixins)
// icons (inc icon variables and mixins)

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

.Site-content {
  flex: 1;
}

// header
// footer
// nav
// sidebar

// components
